<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">

  <link rel="stylesheet" type="text/css" href="css/styles.css">

  <title>Website Luís Monteiro</title>
</head>

<body>
  <div class="container-animation">
    <div id="LandingPageAnimation" class="LandingPageAnimation"></div>
  </div>
  <script type="text/javascript" src="js/lottie.js"></script>
  <script type="text/javascript" src="js/animations.js"></script>
</body>

</html>
